    <!-- <footer class="footer">
        <ul class="footer-container">
            <li><a href="">Term & conditions</a></li>
            <li>copyright @2010</li>
        </ul>
    </footer> -->

    <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 bg-dark text-white">

  <div class="text-center">
      <a href="">Term & Conditions</a>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
   <span>Books4U</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>