<%- include('includes/head.ejs', {pageT: pageTitle}) %>

</head>

<body>
    <%- include('includes/navigations.ejs', {path: "fdfdsv", auth: auth}) %>
    
    <main>
        <h1>Page Not Found.</h1>
    </main>
    
<%- include('includes/footer.ejs') %>